//primary
$color-primary-1: #15abff;
$color-primary-2: #3d00cc;
$color-primary-3: #3800bd;
$color-primary-4: #2d0099;
$color-primary-5: #260080;
$color-primary-6: #1a0057;
$color-primary-7: #1a1e23;

//secondary
$color-secondary-1: #ebedf0;
$color-secondary-2: #dce0e5;
$color-secondary-3: #cbd0d7;
$color-secondary-4: #99a4b2;
$color-secondary-5: #4f5a68;
$color-secondary-6: #2c323a;
$color-secondary-7: #1a1e23;

//background
$color-bg-1: #f4f7fa;
$color-bg-2: #ffffff;
$color-bg-3: #ffffff;
$color-bg-4: #ebedf0;
$color-bg-5: #dce0e5;

//feedback
$color-success: #00af7c;
$color-error: #b00000;
//need the warning color from designer
$color-warning: #f1de71;
$color-info: #0583ff;

//text
$color-text-1: #4d4d4d;
$color-text-2: #3a3a3a;
$color-text-3: #333333;
$color-text-4: #0000f0;

//misc
$color-misc-1: #ffffff;
$color-misc-2: #000000;
